$primary-color: hsl(228, 39%, 23%);
// $primary-color: hsl(101, 90%, 49%);
$color-bright-red: hsl(12, 88%, 59%);
// $color-bright-red: hsl(330, 100%, 51%);
$color-Vary-Light-Gray: hsl(0, 0%, 98%);
$color-Very-Pale-Red: hsl(13, 100%, 96%);
$color-Very-Dark-Blue: hsl(233, 12%, 13%);
$color-Dark-Grayish-Blue: hsl(227, 12%, 61%);
