@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-size: 62.5%;
}

body {
  background: url(images/bg-simplify-section-desktop.svg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 5%;
}
.navbar .nav-logo {
  cursor: pointer;
}
.navbar .nav-menu {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.navbar .nav-menu .nav-item {
  padding: 0 1.5rem;
  font-size: 2.2rem;
}
.navbar .nav-menu .nav-item .nav-link {
  transition: all 0.3s ease-in 0s;
  color: hsl(228deg, 39%, 23%);
}
.navbar .nav-menu .nav-item .nav-link:hover {
  color: hsl(227deg, 12%, 61%);
}
.navbar button {
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  border: none;
  background: hsl(12deg, 88%, 59%);
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  transition: all 0.3s ease-in 0s;
}
.navbar button:hover {
  background-color: hsl(13deg, 100%, 96%);
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: hsl(233deg, 12%, 13%);
}

header {
  display: flex;
  padding: 2rem 5%;
  justify-content: space-around;
  margin: 4rem 0;
}
header .header-text {
  width: 50%;
  text-align: left;
}
header .header-text h1 {
  font-size: 4rem;
  margin: 1.2rem 0;
  color: hsl(228deg, 39%, 23%);
}
header .header-text p {
  margin: 1.6rem 0;
  font-size: 1.7rem;
  color: hsl(227deg, 12%, 61%);
}
header .header-img {
  -o-object-fit: cover;
     object-fit: cover;
}
header button {
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  border: none;
  background: hsl(12deg, 88%, 59%);
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.3s ease-in 0s;
}
header button:hover {
  background-color: hsl(13deg, 100%, 96%);
}

.difference {
  display: flex;
  padding: 2rem 5%;
  justify-content: space-between;
}
.difference .difference-text h2 {
  font-size: 3rem;
  font-weight: 900;
  color: hsl(228deg, 39%, 23%);
}
.difference .difference-text p {
  color: hsl(227deg, 12%, 61%);
  margin: 1.2rem 0;
  width: 70%;
  font-size: 1.4rem;
}
.difference .difference-lists .columns {
  display: flex;
}
.difference .difference-lists .columns span {
  background: hsl(12deg, 88%, 59%);
  border-radius: 50%;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 30px;
  margin: 1.2rem 0;
  font-size: 1.5rem;
}
.difference .difference-lists .columns .text {
  margin: 0 1.2rem;
  width: 50%;
  color: hsl(228deg, 39%, 23%);
  font-size: 2rem;
}
.difference .difference-lists .columns .text h3 {
  margin: 1.2rem 0;
  font-size: 2rem;
}

.testimonials {
  text-align: center;
}
.testimonials h2 {
  color: hsl(228deg, 39%, 23%);
  margin: 2.5rem 0;
  font-size: 3rem;
}
.testimonials .slider {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.testimonials .slider .users {
  text-align: center;
  background: hsl(0deg, 0%, 98%);
  border-radius: 1.5rem;
  border: 2px solid hsl(227deg, 12%, 61%);
  margin: 1rem 0.5rem;
  padding: 1.3rem;
  font-size: 2rem;
  transition: all 0.7s ease-in-out;
}
.testimonials .slider .users h3 {
  font-size: 1.7rem;
}
.testimonials .slider .users:hover {
  transition: all 1s ease-in-out;
  transform: scale(0.9) translateY(-30px);
}
.testimonials .slider .users img {
  width: 20%;
}
.testimonials button {
  margin: 1.5rem 0;
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  border: none;
  background: hsl(12deg, 88%, 59%);
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  transition: all 0.3s ease-in 0s;
}
.testimonials button:hover {
  background-color: hsl(13deg, 100%, 96%);
}

.simplify {
  display: flex;
  background-color: hsl(12deg, 88%, 59%);
  padding: 3rem 7rem;
  justify-content: space-around;
}
.simplify h1 {
  width: 26%;
  color: #fff;
  font-size: 2.5rem;
}
.simplify button {
  margin: 1.5rem 0;
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  border: none;
  background: #fff;
  color: hsl(12deg, 88%, 59%);
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.3s ease-in 0s;
}
.simplify button:hover {
  background-color: #fff;
}

.main-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: hsl(233deg, 12%, 13%);
  color: #fff;
  padding: 4rem 10rem;
  font-size: 2.8rem;
}
.main-footer .logos img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 3rem 2rem 0;
}
.main-footer .logos .socials .fa-brands {
  padding: 0 0.4rem;
  font-size: 1.8rem;
  cursor: pointer;
}
.main-footer .row1 ul li {
  line-height: 2rem;
}
.main-footer .row1 ul li a {
  color: #fff;
  font-size: 1.4rem;
}
.main-footer .searchh {
  margin-right: 1rem;
}
.main-footer .searchh .top {
  margin: 0 0 2rem 0;
}
.main-footer .searchh .top input {
  padding: 1rem 1.5rem;
  font-family: cursive;
  border-radius: 1.5rem;
  font-size: 1.2rem;
}
.main-footer .searchh .top button {
  margin: 0.5rem 0;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: none;
  background: #fff;
  color: hsl(12deg, 88%, 59%);
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.3s ease-in 0s;
}
.main-footer .searchh .top button:hover {
  background-color: #fff;
}
.main-footer .searchh p {
  color: hsl(0deg, 0%, 98%);
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
  }
  .navbar .nav-menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 5rem;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .navbar .nav-menu.active {
    left: 0;
  }
  .navbar .nav-item {
    margin: 1.5rem 0;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar button {
    margin-bottom: 3rem;
  }
  header {
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  header .header-text h1 {
    font-size: 2rem;
  }
  header .header-img img {
    width: 70%;
  }
  .testimonials .slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 4rem;
  }
  .main-footer {
    padding: 2rem 6rem;
  }
}
@media only screen and (max-width: 425px) {
  body {
    width: 100%;
  }
  header {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  header .header-text {
    width: 100%;
    text-align: center;
  }
  header .header-text h1 {
    font-size: 2.9rem;
    width: 100%;
  }
  header .header-img {
    width: 100%;
  }
  header .header-img img {
    width: 100%;
  }
  .difference {
    display: flex;
    flex-direction: column;
  }
  .difference .difference-text {
    text-align: center;
  }
  .difference .difference-text h2 {
    font-size: 3.5rem;
  }
  .difference .difference-text p {
    font-size: 2rem;
    width: 100%;
    margin: 2rem 0;
  }
  .difference .difference-lists {
    width: 100%;
  }
  .difference .difference-lists .columns {
    width: 100%;
    padding: 2rem;
  }
  .difference .difference-lists .columns span {
    font-size: 2rem;
  }
  .difference .difference-lists .columns .text {
    width: 100%;
  }
  .difference .difference-lists .columns .text h3 {
    font-size: 2.1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: hsl(13deg, 100%, 96%);
  }
  .difference .difference-lists .columns .text p {
    font-size: 2rem;
    width: 100%;
  }
  .testimonials .slider {
    display: flex;
    flex-direction: column;
  }
  .testimonials button {
    padding: 1.2rem 2.9rem;
  }
  .simplify {
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
  .simplify h1 {
    width: 100%;
    text-align: center;
  }
  .simplify button {
    text-align: center;
  }
  .main-footer {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .main-footer .rows {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
  }
  .main-footer .searchh p {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */